        <header>   
            <!-- Sidebar -->
            <div class="icons-x">
                <div class="logo">
                    <svg viewBox="0 0 24 24" aria-hidden="true" width="39" height="29" fill="#fff">
                    <g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 
                    21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g>
                    </div>  
                <nav class="menu-bar">
                    <span class="Home-Home"><a href="menu"><i class='bx bx-home-alt-2' style='color:#f1eeee'></i></i></a>Home</span>
                    <li><a href="#"><i class='bx bx-search' style='color:#d9d9d9ee'></i></a>Explore</li>
                    <li><a href="#"><i class='bx bx-bell' style='color:#d9d9d9ee'></i></a>Notifications</li>
                    <li><a href="#"><i class='bx bx-envelope' style='color:#d9d9d9ee'></i></a>Messages</li>
                    <li><a href="#"><i class='bx bxl-blender' style='color:#d9d9d9ee'></i></a>Grok</li>
                    <li><a href="#"><i class='bx bx-bookmark' style='color:#d9d9d9ee'></i></a>Communities</li>
                    <li><a href="#"><i class='bx bx-badge-check' style='color:#d9d9d9ee'></i></a></a>Premiun</li>
                    <li><a href="#"><i class='bx bxs-bolt' style='color:#d9d9d9ee'></i></a>Verified Orgs</li>
                    <li><a href="resources/views/pages/profile.edge"><i class='bx bx-user' style='color:#d9d9d9ee'></i></a>Profilee</li>
                    <li><a href="#"><i class='bx bx-cog' style='color:#d9d9d9ee'></i></a>More</li>
                </nav>
    
                <div class="Button" id="postButton">
                    <button class="disabled">
                        Post
                    </button>                     
                </div>
                
                <!-- Bouton profil -->
                <div class="profile-ob" id="profile-obed1">
                    <div class="profile">
                        <img src="https://pbs.twimg.com/profile_images/1876059828407226368/HE8j7zoP_400x400.jpg" class="profile-button1" id="saved-account">
                        <div class="obed-Mbora" id="obed-Mbora">
                            <p class="PPPP"><a href="">Obed Mbora<i class='bx bx-lock' style='color:#ffff'></i></a></p>
                            <p class="ObedMbora">@ObedMbora</p>  
                        </div>
                    </div>

                     <!-- Menu déroulant profil -->
>
                        <div class="profile-dropdown" id="profile-dropdown">
                            <div class="dropdown-item" id="logout-btn">
                                <i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i>
                                <a href="login">Se déconnecter</a>
                            </div>
                            <div class="dropdown-item" id="add-accountbtn">
                                <i class="fas fa-user-plus" style="margin-right: 10px;"></i>
                                <a href="profile"> Voir mon profile</a>
                            </div>
                        </div>
                </div>
            </div>
        </header>

