            <!-- Section tendances -->
            
            <div class="Notifications">
            <div class="search-box">
                <input type="text" placeholder="Search">
            </div>
    
            <div class="premium-box">
                <h3>Abonnez-vous à Premium</h3>
                <p class="h">Abonnez-vous pour débloquer de nouvelles fonctionnalités et, 
                  si vous êtes éligible,recevez une part des revenus.</p>
                <button class="subscribe-btn">S'abonner</button>
            </div>
    
            <div class="connection-box">
                <p>Looks like you lost your connection. Please check it and try again.</p>
                <button class="retry-btn">Retry</button>
            </div>
    
            <div class="connection-box2">
                <p>Looks like you lost your connection. Please check it and try again.</p>
                <button class="retry-btn">Retry</button>
            </div>
           </div>
        </div>

          <div class="footer">
            <div class="footer-links">
                <span class="footer-link">Conditions d'utilisation</span>
                <span class="footer-link">politique de confidentialité</span>
                <span class="footer-link">Politique relative aux cookies</span>
                <span class="footer-link">Accessibilité</span>
                <span class="footer-link">Informations sur les annonces</span>
                <span class="footer-link">Plus ---</span>
            </div>
            <div>© 2025 X Corp.</div>
        </div>
        </div>