<main>
  @vite(['resources/css/login.css', 'resources/js/app.js'])
  @stack('dumper')

  <div class="container" id="signup-page">
    <div class="main-content">
      <h1>Créer votre compte</h1>
      
      <form method="POST" action="{{ route('register') }}">
        {{ csrfField() }}
        
        <div class="form-group">
          <input type="text" name="fullName" placeholder="Nom et prénom" id="fullname">
        </div>
        
        <div class="form-group">
          <input type="email" name="email" placeholder="Utiliser un email" id="email">
        </div>
        
        <div class="form-group">
          <input type="password" name="password" placeholder="Mot de passe">
        </div>
        
        <div class="form-group">
          <input type="password" name="password_confirmation" placeholder="Confirmez le mot de passe">
        </div>
        
        <button type="submit" class="btnt btn-blue" id="signup-next-btn">Suivant</button>
      </form>
      
      <div style="text-align: center; margin-top: 40px;">
        <span>Vous avez déjà un compte ? </span>
        <a href="{{ route('loginPage') }}" style="color: #1d9bf0;">Se connecter</a>
      </div>
    </div>
  </div>
</main>